{% extends "base.html.twig" %}

{% block page_title %}The Feed{% endblock %}

{% block page_content %}
    <main id="the-feed-main">
        <div id="feed">
            {% if estConnecte %}
            <form id="feedy-new" action="{{ route("publications_POST") }}" method="post">
                <fieldset>
                    <legend>Nouveau feedy</legend>
                    <div>
                           <textarea required id="message" minlength="1" maxlength="250" name="message"
                                     placeholder="Qu'avez-vous en tête?"></textarea>
                    </div>
                    <div>
                        <input id="feedy-new-submit" type="submit" value="Feeder!">
                    </div>
                </fieldset>
            </form>
            {% endif %}
            {% for p in publications %}
            <div class="feedy">
                <div class="feedy-header">
                    <a href="{{ route("publicationsUtilisateur_GET", {"idUtilisateur" : p.auteur.idUtilisateur}) }}">
                        <img class="avatar"
                             src="{{ asset("../ressources/img/utilisateurs/"~p.auteur.nomPhotoDeProfil) }}"
                             alt="avatar de l'utilisateur">
                    </a>
                    <div class="feedy-info">
                        <span>{{ p.auteur.login }}</span>
                        <span> - </span>
                        <span>{{ p.date|date('d F Y') }}</span>
                        <p>{{ p.message }}</p>
                        {% if estConnecte and estConnecte == p.auteur.idUtilisateur %}
                            <button class="delete-feedy" data-id-publication="{{ p.idPublication }}">
                                Supprimer
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% else %}
            <p id="no-publications" class="center">Pas de publications pour le moment!</p>
            {% endfor %}
        </div>
    </main>

    <template id="new-feed">
        <div class="feedy">
            <div class="feedy-header">
                <a id="feed-lien-auteur" href="">
                    <img alt="profile picture" src="" class="avatar">
                </a>
                <div class="feedy-info">
                    <span id="feed-login-utilisateur"></span><span> - </span><span id="feed-date-publication"></span>
                    <p id="feed-message"></p>
                    <button id="feed-bouton-suppression" class="delete-feedy" data-id-publication="">Supprimer</button>
                </div>
            </div>
        </div>
    </template>
{% endblock %}